.list {
  margin-top: 5px;
  /* border:1px solid black; */
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
.list button {
  /* margin-left: 100px; */
  background-color: floralwhite;
  border-radius: 10px;
  padding: 5px;
  border-style: none;
}
/* .list li{
 /* / margin-left: 220px; */
